.logo img{
  width: 160px;
  margin: 10px 0;
}

.header-title{
  position: relative;
}

.header-title span{
  position: absolute;
  top: 8px;
  right: 0;
}

.pointer{
  cursor: pointer;
}

.loading{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffffc4;
  position: fixed;
  top: 0;
}

.none{
  display: none;
}


.daterangepicker .calendar-table {
    font-size: 14px;
}

.daterangepicker .input-mini.active {
    border-radius: 0px !important;
}
.daterangepicker .input-mini {
    border-radius: 0px !important;
}
.daterangepicker .calendar th, .daterangepicker .calendar td {
    border-radius: 0px;
}

.datepicker thead tr:first-child th, .datepicker tfoot tr th {
    border-radius: 0px;
}

.datepicker-days
{
  font-size: 14px;
}

.datepicker-months
{
  font-size: 14px;
}

.datepicker-years
{
  font-size: 14px;
}

span.month{
  width: 37px;
}

.datepicker td, .datepicker th {
    width: 37px !important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px !important;
    border: none;
    text-align: center;
}

.datepicker th {
    background-color: #ebebeb;
    text-align: center;
}

.datepicker th.datepicker-switch {
    font-size: 14px;
    width: 145px !important;
    background-color: #ebebeb;
    text-align: center;
}
