.header-title h1{
  color: #1d7bc7;
  border-bottom: 3px solid;
  margin-bottom: 0;
}

.header-title h3{
  color: #1d7bc7;
  margin: 10px 0px 30px 0px;
  border-bottom: 3px solid;
  padding-bottom: 5px;
}

.breadcrumb>li{
  font-size: 9pt;
}

.box{
  margin-bottom: 30px;
  padding: 20px;
  box-shadow: 0px 0px 2px 0px #c2c2c2;
}

.btn-submit{
  width: 40%;
  border-radius: 0;
  margin-bottom: 40px;
}

.table>tbody>tr>td{
  vertical-align: middle;
}

.color-green{
  color: #28f32c;
}

.under-line .row{
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.under-line:last-child .row{
  border-bottom: none;
}

.text-consent{
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #efefef;
  padding: 10px;
  border-radius: 4px;
  text-align: justify;
}

/* .radio label{
  padding-left:0;
} */
