@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}

.text-disabled {
  opacity: .65;
  filter: alpha(opacity=65);
  color: #777 !important;
  cursor: not-allowed;
}



.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}


.tableClass{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3a4342;
}
.tableClass thead tr
{
    height: 40px;
    background-color: #3a4342;
    color: #FFFFFF;
    font-weight: bold;
  }

.tableClass tbody tr
{
  height: 40px;
  background-color: #FFFFFF;
  color: #3a4342;
  font-weight: bold;
  border: 1px solid #3a4342;
}

.tableClass tbody tr td
{
  padding: 10px;
  line-height: 14px;
  background-color: #FFFFFF;
}
.tableClass tbody tr td:nth-child(1)
{
  border-right: 1px dotted #3a4342;
}

.icon-user{
    text-align: right;
    color: #b9b9b9;
    border-right: 1px solid #3a4342;
}
.count-p{
    font-size: 11px;
    color: #b9b9b9;
    position: absolute;
    bottom: 7px;
    right: 24px;
}
.icon-arrow{
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    top: 6px;
    right: 10px;
    color: #606362;
}
