/* css login  */

.mar-zero{
  margin:0px;
}

.mar-btn-20{
  margin-bottom: 20px;
}

.icon-h{
  display: none;
}

.icon-r{
  color: #a94442 !important;
}

.login-page {
  /* The image used */
  /* background: #716f6f  !important; */
  background-image: url("../../../image/bg_tran.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-box {
  margin-top: 10vw;
}

.login-logo a{
  color: #FFF;
}

.login-box-msg{
  font-size: 22px;
}

/*------------------------*/

.login-logo img {
	/* width: 100%; */
}

.login-box-body {
	background: #f0f0f0;
}

.login-box a {
	color: #fe4203;
}

.login-box button[type=submit]{
	border: none;
	width: 100%;
  font-size: 24px;
  height: 44px;
  background-color: #0044cc;
  color: #fff;
}
